#app {
  max-width: 1620px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.tabs {
  display: grid;
  width: 100%;
  font-size: 18px;
  padding: 0 10px 10px 10px;
  justify-content: space-around;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.tabs > div {
  border-radius: 4px;
}

.tabs > div:hover {
  background-color: #ebcd8894;
}

.tabs > div.active-tab {
  background-color: #ebcd887a;
}

.tab-content > div {
  display: none;
}

.tab-content > div.active-tab {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  margin: auto;
}

.search-content-tab {
  display:flex;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .search-content-tab {
    flex-direction: column; 
  }

  .search-content-tab input[type="search"] {
    width: 100%;
  }

  footer.my-footer {
    font-size: 0.9rem;
  }

  footer.my-footer > div {
    font-size: 0.7em !important;
    align-items: flex-start !important;
    gap: 0.5em;
  }

  h1.project-title {
    font-size: 1.5em;
  }

  div.top-menu {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding-top: 5px;
  }
}

.search-content-tab input {
  width: 60%;
}

.import-content-tab {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.import-content-tab textarea {
  height: 150px;
  width: 65%;
  max-width: 600px;
}

h1.project-title {
  border-bottom: solid 5px #c3983655;
}

.page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer.my-footer {
  bottom: 0;
  background-color: #ffffffdd;
}

footer.my-footer > div {
  font-size: 12px;
  display:flex;
  align-items: center;
}

div.top-menu {
  background-color: #ffffffdd;
  margin-top: 2px;
  padding-bottom: 5px;
  border-radius: 4px;
}

.btn.btn-primary {
  --bs-btn-bg: #dfc280;
  --bs-btn-border-color: #ab9666;
  --bs-btn-hover-bg: #977a37;
  --bs-btn-hover-border-color: #675324;
  --bs-btn-active-bg: #977a37;
  --bs-btn-active-border-color: #675324;
  --bs-btn-disabled-bg: #dfc280;
  --bs-btn-disabled-border-color: #ab9666;
}